:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}
#title{ background: var(--color-darkblue-alpha);}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-white);
  margin: 0;
  background-color: #775e5e;
}
h1{text-align: center;}

p {
  font-size: 1.125rem;
}
h1,p {
  margin-top: 0;
  margin-left:0.5rem;
  margin-bottom: 0.5rem;
}
label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
}
input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

#title {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}
#description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}


form {
 
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 50%;
  height: 2rem;
  padding: 0.1rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1rem;
}
.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}
div>#survey{  display: flex;
        align-items: center;
     }
a{text-decoration: none;}

footer{text-align: center;
  background-color: #1b1b32;}
